<template>
    <div class="color-wrapper">
        <p>Choose color (# hex)</p>
        <div v-click-outside="collapseColorPicker">
            <div class="color-display-container" @click="expandColorPicker">
                <span class="call-picker">
                    {{value}}
                </span>
                <div class="color-holder call-picker" :style="{ 'background-color': value }" />
            </div>
            <div v-if="isExpanded" class="color-picker">
                <li
                    v-for="(colorItem, index) in colorList"
                    :key="index"
                    class="color-item"
                    :style="{ 'background-color': colorItem }"
                    @click="changeColor(colorItem)"
                />
            </div>
        </div>
    </div>
</template>

<!--
<script lang="ts">
import Vue, { PropType } from 'vue'
import clickOutside from '@/directives/clickOutside'

const colorList = [
'#000000', '#993300', '#333300', '#003300', '#003366', '#000066', '#333399', '#333333', '#660000', '#FF6633',
'#666633', '#336633', '#336666', '#0066FF', '#666699', '#666666', '#CC3333', '#FF9933', '#99CC33', '#669966',
'#66CCCC', '#3366FF', '#663366', '#999999', '#CC66FF', '#FFCC33', '#FFFF66', '#99FF66', '#99CCCC', '#66CCFF',
'#993366', '#CCCCCC', '#FF99CC', '#FFCC99', '#FFFF99', '#CCFFCC', '#CCFFFF', '#99CCFF', '#CC99FF', '#FFFFFF']

export default Vue.extend({
    directives: {
        clickOutside,
    },
    props: {
        value: {
            type: String,
            default: () => '#FFFFFF',
        },
        colorList: {
            type: Array as PropType<string[]>,
            default: () => colorList,
        },
    },
    data() {
        return {
            isExpanded: false,
        }
    },
    methods: {
        expandColorPicker(){
            if (!this.isExpanded)
                this.isExpanded = true
        },
        collapseColorPicker(){
            if (this.isExpanded)
                this.isExpanded = false
        },
        changeColor(color: string){
            this.$emit('input', color)
            this.collapseColorPicker()
        }
    },
})
</script>
-->

<!--
<script lang="ts">
import Vue, { PropType } from 'vue'
import Component from 'vue-class-component'
import clickOutside from '@/directives/clickOutside'

const colorList = [
'#000000', '#993300', '#333300', '#003300', '#003366', '#000066', '#333399', '#333333', '#660000', '#FF6633',
'#666633', '#336633', '#336666', '#0066FF', '#666699', '#666666', '#CC3333', '#FF9933', '#99CC33', '#669966',
'#66CCCC', '#3366FF', '#663366', '#999999', '#CC66FF', '#FFCC33', '#FFFF66', '#99FF66', '#99CCCC', '#66CCFF',
'#993366', '#CCCCCC', '#FF99CC', '#FFCC99', '#FFFF99', '#CCFFCC', '#CCFFFF', '#99CCFF', '#CC99FF', '#FFFFFF']

@Component({
    props: {
        value: {
            type: String,
            default: () => '#FFFFFF',
        },
        colorList: {
            type: Array as PropType<string[]>,
            default: () => colorList,
        },
    },
    directives: {
        clickOutside,
    },
})
export default class ColorPicker extends Vue {
    isExpanded: boolean = false

    public onCurrentPageChangedCallback(value: number): void {
        if (!value) return
        this.$emit('pageChanged', {
        pageSize: this.pagedDataModel.pageSize,
        pageNumber: value
        })
    }

    public expandColorPicker(){
        if (!this.isExpanded)
            this.isExpanded = true
    }

    public collapseColorPicker(){
        if (this.isExpanded)
            this.isExpanded = false
    }

    public changeColor(color: string){
        this.$emit('input', color)
        this.collapseColorPicker()
    }
}
</script>
-->

<script lang="ts">
import { defineComponent, PropType, ref } from '@nuxtjs/composition-api'
import clickOutside from '@/directives/clickOutside'

const colorList = [
'#000000', '#993300', '#333300', '#003300', '#003366', '#000066', '#333399', '#333333', '#660000', '#FF6633',
'#666633', '#336633', '#336666', '#0066FF', '#666699', '#666666', '#CC3333', '#FF9933', '#99CC33', '#669966',
'#66CCCC', '#3366FF', '#663366', '#999999', '#CC66FF', '#FFCC33', '#FFFF66', '#99FF66', '#99CCCC', '#66CCFF',
'#993366', '#CCCCCC', '#FF99CC', '#FFCC99', '#FFFF99', '#CCFFCC', '#CCFFFF', '#99CCFF', '#CC99FF', '#FFFFFF']

export default defineComponent({
    directives: {
        clickOutside,
    },
    props: {
        value: {
            type: String,
            default: () => '#FFFFFF',
        },
        colorList: {
            type: Array as PropType<string[]>,
            default: () => colorList,
        },
    },
    setup(props, { emit }) {
        const isExpanded = ref(false)

        function expandColorPicker(){
            if (!isExpanded.value)
                isExpanded.value = true
        }

        function collapseColorPicker(){
            if (isExpanded.value)
                isExpanded.value = false
        }

        function changeColor(color: string){
            emit('input', color)
            collapseColorPicker()
        }

        return {
            isExpanded,
            expandColorPicker,
            collapseColorPicker,
            changeColor,
        }
    },
})
</script>

<style lang="scss" scoped>
	.color-wrapper {
		position: relative;
		width: 150px;
		margin: 20px auto;

        p {
            margin-bottom: 5px;
        }
	}

	div.color-display-container {
        display: flex;
	}

	span.call-picker {
		border: 1px solid #AAA;
		color: #666;
		outline: none;
        padding: 7px;
        width: 85px;
		cursor: pointer;
	}

	.color-holder {
  	    background: #fff;
		cursor: pointer;
		border: 1px solid #AAA;
		width: 40px;
		height: 40px;
		margin-left: 5px;
	}

	.color-picker {
		width: 118px;
		background: #F3F3F3;
		padding: 5px;
		border: 5px solid #fff;
		box-shadow: 0px 0px 3px 1px #DDD;
		position: absolute;
		top: 61px;
		left: 2px;

        .color-item {
            cursor: pointer;
            width: 10px;
            height: 10px;
            list-style-type: none;
            float: left;
            margin: 2px;
            border: 1px solid #DDD;

            &:hover {
                border: 1px solid #666;
                opacity: 0.8;
                -moz-opacity: 0.8;
                filter:alpha(opacity=8);
            }
        }
	}
</style>
