<template>
    <div>
        <div class="canvas">
            <canvas ref="canvas" @click="clicked" />
        </div>
        <div>
            <button :disabled="!canUndo" @click="undo">Undo</button>
            <button :disabled="!canRedo" @click="redo">Redo</button>
            <button @click="download">Download</button>
        </div>
    </div>
</template>

<!--
<script lang="ts">
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import { Coord } from '@/interfaces/drawing'
import { downloadFile } from '@/helper/file'

export default Vue.extend({
    computed:{
        /** ตัวนี้ต้องเขียนแยกออกมาเพราะหากใช้ mapGetters จะไม่สามารถระบุ type เป็น Coord[] ได้ */
        coords(): Coord[] {
            return this.$store.getters['drawing/coords']
        },
        ...mapGetters('drawing', {
            canUndo: 'canUndo',
            canRedo: 'canRedo',
        }),
    },
    mounted(){
        const canvas = this.$refs.canvas as HTMLCanvasElement
        canvas.width = 400
        canvas.height = 400
        const context = canvas.getContext('2d')
        context.translate(0.5, 0.5)
    },
    watch: {
        coords(newValue, oldValue) {
            this.draw()
        }
    },
    methods: {
        ...mapActions('drawing',{
            addCoord: 'addCoord',
            undo: 'undo',
            redo: 'redo',
        }),
        drawLine(coord1: Coord, coord2: Coord) {
            const canvas = this.$refs.canvas as HTMLCanvasElement
            let context = canvas.getContext('2d')
            context.beginPath()
            context.moveTo(coord1.x, coord1.y)
            context.lineTo(coord2.x, coord2.y)
            context.lineWidth = 1
            context.strokeStyle = 'black'
            context.stroke()
        },
        drawCircle({x, y}: Coord) {
            const canvas = this.$refs.canvas as HTMLCanvasElement
            let context = canvas.getContext('2d')
            context.beginPath()
            context.arc(x, y, 5, 0, 2 * Math.PI, false)
            context.fillStyle = 'yellow'
            context.fill()
            context.lineWidth = 1
            context.strokeStyle = 'black'
            context.stroke()
        },
        getMousePos(event: MouseEvent): Coord {
            const canvas = this.$refs.canvas as HTMLCanvasElement
            var rect = canvas.getBoundingClientRect()
            return {
                x: (event.clientX - rect.left) / (rect.right - rect.left) * canvas.width,
                y: (event.clientY - rect.top) / (rect.bottom - rect.top) * canvas.height
            }
        },        
        clicked(event: MouseEvent) {
            this.addCoord(this.getMousePos(event))
            this.draw()
        },
        draw() {
            const canvas = this.$refs.canvas as HTMLCanvasElement
            canvas.width = 400
            if (this.coords.length > 0){
                this.drawCircle(this.coords[0])
                for (let i = 1; i < this.coords.length; i++) {
                    const coord = this.coords[i]
                    this.drawCircle(coord)
                    this.drawLine(this.coords[i - 1], coord)
                }
            }
        },
        convertToBlob(): Promise<Blob>{
            const canvas = this.$refs.canvas as HTMLCanvasElement
            return new Promise(resolve => canvas.toBlob((blob) => resolve(blob)))
        },
        async download(){
            const blob = await this.convertToBlob()
            downloadFile(blob, 'canvas.png')
        }
    },
})
</script>
-->

<!--
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Coord } from '@/interfaces/drawing'
import { downloadFile } from '@/helper/file'

@Component({
    watch: {
        coords(newValue, oldValue) {
            this.draw()
        }
    },
})
export default class Drawing extends Vue {
    get coords(): Coord[] {
        return this.$store.getters['drawing/coords']
    }
    get canUndo(): boolean {
        return this.$store.getters['drawing/canUndo']
    }
    get canRedo(): boolean {
        return this.$store.getters['drawing/canRedo']
    }

    mounted(){
        const canvas = this.$refs.canvas as HTMLCanvasElement
        canvas.width = 400
        canvas.height = 400
        const context = canvas.getContext('2d')
        context.translate(0.5, 0.5)
    }

    private drawLine(coord1: Coord, coord2: Coord) {
        const canvas = this.$refs.canvas as HTMLCanvasElement
        let context = canvas.getContext('2d')
        context.beginPath()
        context.moveTo(coord1.x, coord1.y)
        context.lineTo(coord2.x, coord2.y)
        context.lineWidth = 1
        context.strokeStyle = 'black'
        context.stroke()
    }
    private drawCircle({x, y}: Coord) {
        const canvas = this.$refs.canvas as HTMLCanvasElement
        let context = canvas.getContext('2d')
        context.beginPath()
        context.arc(x, y, 5, 0, 2 * Math.PI, false)
        context.fillStyle = 'yellow'
        context.fill()
        context.lineWidth = 1
        context.strokeStyle = 'black'
        context.stroke()
    }
    private getMousePos(event: MouseEvent): Coord {
        const canvas = this.$refs.canvas as HTMLCanvasElement
        var rect = canvas.getBoundingClientRect()
        return {
            x: (event.clientX - rect.left) / (rect.right - rect.left) * canvas.width,
            y: (event.clientY - rect.top) / (rect.bottom - rect.top) * canvas.height
        }
    }
    public clicked(event: MouseEvent) {
        this.$store.dispatch('drawing/addCoord', this.getMousePos(event))
        this.draw()
    }
    private draw() {
        const canvas = this.$refs.canvas as HTMLCanvasElement
        canvas.width = 400
        if (this.coords.length > 0){
            this.drawCircle(this.coords[0])
            for (let i = 1; i < this.coords.length; i++) {
                const coord = this.coords[i]
                this.drawCircle(coord)
                this.drawLine(this.coords[i - 1], coord)
            }
        }
    }
    public undo(){
        this.$store.dispatch('drawing/undo')
    }
    public redo(){
        this.$store.dispatch('drawing/redo')
    }
    private convertToBlob(): Promise<Blob>{
        const canvas = this.$refs.canvas as HTMLCanvasElement
        return new Promise(resolve => canvas.toBlob((blob) => resolve(blob)))
    }
    public async download(){
        const blob = await this.convertToBlob()
        downloadFile(blob, 'canvas.png')
    }
}
</script>
-->

<script lang="ts">
import { defineComponent, useContext, onMounted, ref, computed, watch } from '@nuxtjs/composition-api'
import { Coord } from '@/interfaces/drawing'
import { downloadFile } from '@/helper/file'

export default defineComponent({
    setup() {
        const context = useContext()

        const store = context.store
        const coords = computed((): Coord[] => store.getters['drawing/coords'])
        const canUndo = computed((): boolean => store.getters['drawing/canUndo'])
        const canRedo = computed((): boolean => store.getters['drawing/canRedo'])

        const canvas = ref<HTMLCanvasElement>(null)
        onMounted(() => {
            canvas.value.width = 400
            canvas.value.height = 400
            const context = canvas.value.getContext('2d')
            context.translate(0.5, 0.5)
        })
        
        function drawLine(coord1: Coord, coord2: Coord) {
            let context = canvas.value.getContext('2d')
            context.beginPath()
            context.moveTo(coord1.x, coord1.y)
            context.lineTo(coord2.x, coord2.y)
            context.lineWidth = 1
            context.strokeStyle = 'black'
            context.stroke()
        }

        function drawCircle({x, y}: Coord) {
            let context = canvas.value.getContext('2d')
            context.beginPath()
            context.arc(x, y, 5, 0, 2 * Math.PI, false)
            context.fillStyle = 'yellow'
            context.fill()
            context.lineWidth = 1
            context.strokeStyle = 'black'
            context.stroke()
        }

        function getMousePos(event: MouseEvent): Coord {
            var rect = canvas.value.getBoundingClientRect()
            return {
                x: (event.clientX - rect.left) / (rect.right - rect.left) * canvas.value.width,
                y: (event.clientY - rect.top) / (rect.bottom - rect.top) * canvas.value.height
            }
        }
        
        function clicked(event: MouseEvent) {
            store.dispatch('drawing/addCoord', getMousePos(event))
            draw()
        }

        watch(() => coords.value, (newValue, oldValue) => draw())

        function draw() {
            canvas.value.width = 400
            if (coords.value.length > 0){
                drawCircle(coords.value[0])
                for (let i = 1; i < coords.value.length; i++) {
                    const coord = coords.value[i]
                    drawCircle(coord)
                    drawLine(coords.value[i - 1], coord)
                }
            }
        }

        function undo(){
            store.dispatch('drawing/undo')
        }

        function redo(){
            store.dispatch('drawing/redo')
        }

        function convertToBlob(): Promise<Blob>{
            return new Promise(resolve => canvas.value.toBlob((blob) => resolve(blob)))
        }

        async function download(){
            const blob = await convertToBlob()
            downloadFile(blob, 'canvas.png')
        }

        return {
            canvas,
            clicked,
            canUndo,
            undo,
            canRedo,
            redo,
            download,
        }
    },
})
</script>

<style lang="scss" scoped>
div.canvas{
    display: inline-block;
    border: solid;
}
</style>
