<template>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Picture</th>
                    <th>Email</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in items" :key="index">
                    <td>{{ item.id }}</td>
                    <td><img :src="item.avatar"></td>
                    <td><a :href="`mailto:${item.email}`">{{ item.email }}</a></td>
                    <td>{{ `${item.first_name} ${item.last_name}` }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <span>From {{ from }} to {{ to }} of {{ rowCount }}</span>
            <select v-model="pageSelectValue">
                <option v-for="option in pageList" :key="option.value" :value="option.value">
                    {{ option.text }}
                </option>
            </select>
        </div>
    </div>
</template>

<!--
<script lang="ts">
import Vue, { PropType } from 'vue'
import { UserService, User } from '@/interfaces/userService'

export default Vue.extend({
    props: {
        service: {
            type: Object as PropType<UserService>,
            required: true,
        },
    },
    data(){
        return {
            pageSelectValue: 0,
        }
    },
    computed: {
        rowCount(): number {
            return this.service.rowCount
        },
        pageCount(): number {
            return this.service.pageCount
        },
        currentPage(): number {
            return this.service.currentPage
        },
        items(): User[] {
            return this.service.items
        },
        from(): number {
            return this.service.from
        },
        to(): number {
            return this.service.to
        },
        pageList(): { text: string, value: number }[] {
            const pageList = []
            for (let i = 0; i < this.pageCount; i++){
                pageList.push({ text: i + 1 + '', value: i })
            }
            return pageList
        },
    },
    watch: {
        pageSelectValue(newValue) {
            this.changePage(newValue)
        },
    },
    async mounted(){
        await this.service.loadUsers(0)
    },
    methods: {
        async changePage(page: number){
            await this.service.loadUsers(page)
        }
    },
})
</script>
-->

<!--
<script lang="ts">
import Vue, { PropType } from 'vue'
import Component from 'vue-class-component'
import { UserService, User } from '@/interfaces/userService'

@Component({
    props: {
        service: {
            type: Object as PropType<UserService>,
            required: true,
        },
    },
    watch: {
        pageSelectValue(newValue) {
            this.changePage(newValue)
        },
    },
})
export default class Table extends Vue {
    pageSelectValue = 0

    get rowCount(): number {
        return this.service.rowCount
    }
    get pageCount(): number {
        return this.service.pageCount
    }
    get currentPage(): number {
        return this.service.currentPage
    }
    get items(): User[] {
        return this.service.items
    }
    get from(): number {
        return this.service.from
    }
    get to(): number {
        return this.service.to
    }
    get pageList(): { text: string, value: number }[] {
        const pageList = []
        for (let i = 0; i < this.pageCount; i++){
            pageList.push({ text: i + 1 + '', value: i })
        }
        return pageList
    }

    async mounted(){
        await this.service.loadUsers(0)
    }

    public async changePage(page: number){
        await this.service.loadUsers(page)
    }
}
</script>
-->

<script lang="ts">
import { defineComponent, PropType, onMounted, ref, computed, watch } from '@nuxtjs/composition-api'
import { UserService } from '@/interfaces/userService'

export default defineComponent({
    props: {
        service: {
            type: Object as PropType<UserService>,
            required: true,
        },
    },
    setup(props) {
        const rowCount = computed(() => props.service.rowCount)
        const pageCount = computed(() => props.service.pageCount)
        const currentPage = computed(() => props.service.currentPage)
        const items = computed(() => props.service.items)
        const from = computed(() => props.service.from)
        const to = computed(() => props.service.to)

        const pageSelectValue = ref(0)
        watch(() => pageSelectValue.value, newValue => changePage(newValue))
        const pageList = computed(() => {
            const pageList = []
            for (let i = 0; i < pageCount.value; i++){
                pageList.push({ text: i + 1 + '', value: i })
            }
            return pageList
        })

        async function changePage(page: number){
            await props.service.loadUsers(page)
        }

        onMounted(async () => {
            await props.service.loadUsers(0)
        })

        return {
            rowCount,
            currentPage,
            items,
            from,
            to,
            pageSelectValue,
            pageList,
        }
    },
})
</script>

<style lang="scss" scoped>
</style>
