<template>
    <div>
        <div class="jsontable table">
            <div class="thead">
                <div class="tr">
                    <div v-for="(column, index) in columns" :key="index" class="td">
                        <input type="text" v-model="columns[index]">
                        <button @click="deleteColumn(index)">X</button>
                    </div>
                    <div class="td">
                        <button @click="addColumn">+</button>
                    </div>
                </div>
            </div>
            <div class="tbody">
                <div v-for="(row, rowIndex) in rows" :key="rowIndex" class="tr">
                    <div v-for="(col, colIndex) in row" :key="colIndex" class="td">
                        <input type="text" v-model="row[colIndex]">
                    </div>
                    <div class="td">
                        <button @click="deleteRow(rowIndex)">X</button>
                    </div>
                </div>
            </div>
        </div>
        <div><button @click="addRow">Add Row</button></div>
        <div>{{jsonObject}}</div>
        <div>
            <input type="text" v-model="fileName">
            <button @click="download">Download</button>
        </div>
    </div>
</template>


<script lang="ts">
import Vue from 'vue'
import { downloadAsJsonFile } from '@/helper/file'

interface IndexedType{
    [key: string]: string
}

export default Vue.extend({
    data() {
        return {
            columns: [] as string[],
            rows: [] as string[][],
            fileName: 'data.json',
        }
    },
    computed: {
        /** ค่า object จริงที่จะใช้ส่งไปสร้าง file */
        jsonObject(): IndexedType[] {
            return this.rows.map(this.rowToJsonObject)
        },
    },
    methods: {
        addColumn(){
            this.columns.push(null)
            for (let i=0; i < this.rows.length; i++)
                this.rows[i].push(null)
        },
        deleteColumn(index: number){
            this.columns.splice(index, 1)
            for (let i=0; i < this.rows.length; i++)
                this.rows[i].splice(index, 1)
        },
        addRow(){
            this.rows.push(this.columns.map((): string => null))
        },
        deleteRow(index: number){
            this.rows.splice(index, 1)
        },
        /** ใช้ประกอบ array ของ columns และ row เป็น object */
        rowToJsonObject(row: string[]): IndexedType{
            const temp: IndexedType = {}
            for (let i = 0; i < this.columns.length; i++)
                temp[this.columns[i]] = row[i]
            
            return temp
        },
        download(){
            downloadAsJsonFile(this.jsonObject, this.fileName)
        },
    },
})
</script>


<!--
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { downloadAsJsonFile } from '@/helper/file'

@Component
export default class JsonTable extends Vue {
    columns: string[] = []
    rows: string[][] = []
    fileName: string = 'data.json'

    /** ค่า object จริงที่จะใช้ส่งไปสร้าง file */
    get jsonObject() {
        return this.rows.map(this.rowToJsonObject)
    }

    public addColumn(){
        this.columns.push(null)
        for (let i=0; i < this.rows.length; i++)
            this.rows[i].push(null)
    }
    public deleteColumn(index: number){
        this.columns.splice(index, 1)
        for (let i=0; i < this.rows.length; i++)
            this.rows[i].splice(index, 1)
    }
    public addRow(){
        this.rows.push(this.columns.map((): string => null))
    }
    public deleteRow(index: number){
        this.rows.splice(index, 1)
    }
    /** ใช้ประกอบ array ของ columns และ row เป็น object */
    private rowToJsonObject(row: string[]){
        const temp: { [key: string]: string } = {}
        for (let i = 0; i < this.columns.length; i++)
            temp[this.columns[i]] = row[i]
        
        return temp
    }
    public download(){
        downloadAsJsonFile(this.jsonObject, this.fileName)
    }
}
</script>
-->

<!--
<script lang="ts">
import { defineComponent, ref, computed } from '@nuxtjs/composition-api'
import { downloadAsJsonFile } from '@/helper/file'

export default defineComponent({
    setup() {
        const columns = ref([])
        const rows = ref<string[][]>([])

        function addColumn(){
            columns.value.push(null)
            for (let i=0; i < rows.value.length; i++)
                rows.value[i].push(null)
        }

        function deleteColumn(index: number){
            columns.value.splice(index, 1)
            for (let i=0; i < rows.value.length; i++)
                rows.value[i].splice(index, 1)
        }

        function addRow(){
            rows.value.push(columns.value.map((): string => null))
        }

        function deleteRow(index: number){
            rows.value.splice(index, 1)
        }

        /** ใช้ประกอบ array ของ columns และ row เป็น object */
        function rowToJsonObject(row: string[]){
            const temp: { [key: string]: string } = {}
            for (let i = 0; i < columns.value.length; i++)
                temp[columns.value[i]] = row[i]
            
            return temp
        }

        /** ค่า object จริงที่จะใช้ส่งไปสร้าง file */
        const jsonObject = computed(() => rows.value.map(rowToJsonObject))

        const fileName = ref('data.json')
        function download(){
            downloadAsJsonFile(jsonObject.value, fileName.value)
        }

        return {
            columns,
            addColumn,
            deleteColumn,
            rows,
            addRow,
            deleteRow,
            jsonObject,
            fileName,
            download,
        }
    },
})
</script>
-->

<style lang="scss" scoped>
.jsontable.table{
    display: table;
    margin: 10px;
    border-collapse: collapse;

    .thead{
        display: table-header-group;
    }
    .tbody{
        display: table-row-group;
    }

    .thead, .tbody{
        .tr{
            display: table-row;
            
            .td{
                display: table-cell;
                border: 1px solid black;
                padding: 3px;
            }
        }
    }
}
</style>
