<template>
  <Table :service="UserService" />
</template>

<script lang="ts">
import Vue from 'vue'
import UserService from '@/services/reqresUserService'

export default Vue.extend({
  data(){
    return {
      UserService,
    }
  }
})
</script>
